h1{
    color: red;
    position: relative;
    font-weight: 700;
    padding:2rem;
    text-align: center;
    
    
}
h2{
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}


@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

h1 {
	 margin: 10px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(19, 7, 2, 0.438), 1px 1px 0px rgba(216, 44, 44, 0);
	color: rgb(2, 0, 0);
	opacity: 0.4;
	font: 700 80px 'Bitter'; 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    
    /*text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;*/
}

.btns{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  
  
}
.googleDiv{
    padding: 3rem;
}
.appleDiv{
    padding: 3rem;
}
